
@font-face {
  font-family: 'FinkHeavy';
  src: url('FinkHeavy.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FinkHeavy';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('FinkHeavy.ttf')  format('truetype'), url('FinkHeavy.svg#FinkHeavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FinkHeavy';
  background-color: rgba(180, 180, 180, 0.4);
  background-image: url('./animalCrossingBackground.jpg)');
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 80px 0 0 160px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

pre {
  font-size: 25px;
  font-family: 'FinkHeavy';
}

p {
  font-size: 25px;
  font-family: 'FinkHeavy';
  margin: -10 0 0 -10;
}

.logo {
  margin: 0 0 0 50px;
}

div.inline {
  float: left;
}

.clearBoth {
  clear:both;
}

form {
  font-size: 40px;
  text-align: center;
}

.num {
  float: left;
  margin: 0 -450px 0 500px;
}

input[type=number] {
  font-size: 30px;
  font-family: 'FinkHeavy';
  width: 55px;
}

input[type=submit] {
  font-family: 'FinkHeavy';
  font-size: 20px;
  background-color: rgb(75, 175, 75);
  border: none;
  color: #ffffff;
  width: 150px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 150px 0 0 -450px;
  cursor: pointer;
}

.villager-container {
  text-align: center;
}

.facts {
  line-height: 10px;
  text-align: left;
  margin: -25px 0 -25px 550px;
}
